// C++ Object Files
*.o
*.wo
*.eo
*.d
*.wd
*.ed

// C++ Build File
server/bin/game*

// JS
node_modules/

// Static Libraries
*.a
*.so*

// Assimp Binaries
server/lib/assimp-4.1.0/bin

// clang cache
*/.cache/

// Temporary Object Files
*.tmp